:root {
  --blue: #5bccf6;
  --yellow: #fcde67;
  --black: #030e12;
  --green: Chartreuse;
}

/* Global style */
* {
  margin: 0;
}

/* Navigation bar section */

.navbar {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: auto;
  padding: 20px 50px;
  background-color: var(--blue);
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
  width: 100%;
}

.navbar h1 {
  flex: 2 1 0%;
}

#logo {
  font-size: 30px;
  color: white;
  padding-left: 50px;
  font-family: 'Architects Daughter', cursive;
}

#menu {
  display: flex;
  flex: 1 1 0%;
  justify-content: space-around;
  padding-right: 100px;
  font-family: 'Architects Daughter', cursive;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

/* Hero section */
#hero {
  display: flex;
  flex-shrink: 1 1 0%;
  justify-content: center;
  background-color: DarkOrange;
  padding: 150px 150px 50px 150px;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  gap: 50px;
}


#hero h2 {
  font-size: 40px;
  color: white;
  padding: 10px;
  font-family: 'Rock Salt', cursive;
}

#hero p {
  font-size: 30px;
  color: white;
  padding: 10px;
  font-family: 'Nanum Pen Script', cursive;
}

#hero button {
  margin: 30px;
  background-color: var(--blue);
  font-size: 18px;
  padding: 2px 30px;
  color: var(--black);
  border-radius: 8px;
  font-family: 'Rock Salt', cursive;
}

#hero button:hover {
  background-color: YellowGreen;
  color: white;
  cursor: pointer;
}

#hero-sec-img {
  width: 100%;
}

#hero-img {
  width: 100%;
  height: auto;
  border: 5px solid white;
  border-radius: 10px;
}



/* Our team section */
#our-team {
  padding: 80px 150px 0px;
  background-color: YellowGreen;
}

#our-team h2 {
  text-align: center;
  font-size: 36px;
  color: white;
  font-style: extra-bold;
  font-family: 'Architects Daughter', cursive;
}

#all-members {
  display: flex;
  flex: 1 1 0%;
  flex-wrap: wrap;
  padding: 50px;
  justify-content: center;
  align-items: baseline;
  gap: 10px;
}

.member {
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
  align-items: center;
/*   padding-bottom: 40px; */
  text-align: center;
}

.member img {
  width: 12em;
  height: auto;
  border: 5px solid DarkOrange;
  border-radius: 10px;
}

.member h3 {
  padding: 20px 10px;
  color: white;
  font-family: 'Architects Daughter', cursive;
}

/* Quote section */

.quote-sec {
  background-color: var(--yellow);
  padding: 50px 150px;
}

#quote {
  font: italic normal lighter 36px 'Nanum Pen Script', cursive;
  color: var(--black);
  text-align: left;
  padding: 20px;
}

#speaker {
  font-weight: bold;
  text-align: right;
  color: var(--black);
  font-family: 'Architects Daughter', cursive;
}

/* Contact section */
.contact {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--blue);
  margin: auto;
  border-radius: 5px;
  padding: 30px;
}

.contact h2 {
  font-size: 20px;
  font-style: extra-bold;
  color: white;
  font-family: 'Rock Salt', cursive;
}

#signup-text {
  font-size: 18px;
  color: white;
  font-family: 'Architects Daughter', cursive;
}

#signup2 {
  background-color: YellowGreen;
  font-size: 18px;
  padding: 2px 30px;
  color: var(---black);
  border-radius: 5px;
  border: 2px solid #F9FAF8;
  font-family: 'Rock Salt', cursive;
}

#signup2:hover {
  background-color: DarkOrange;
  color: white;
  cursor: pointer;
}


/* Footer section */
#footer {
  text-align: center;
  background-color: DarkOrange;
  color: var(--black);
  padding: 20px;
  font-family: 'Nanum Pen Script', cursive;
}
